.App {
    text-align: center;
}

.navbar {
    background-color: rebeccapurple;
    padding: 2rem;
    color: white;
    font-size: 2rem;
    text-align: right;
}

.form {
    margin-top: 1rem;
}

.form label {
    margin-right: 0.5rem;
}
